- if @sv
  $("#info").html("");
  $("#ho_dem").val("#{@sv.ho_dem if @sv}");
  $("#ten").val("#{@sv.ten if @sv}");
- else
  $("#info").html("");
  $("#ho_dem").val("");
  $("#ten").val("");
  $("#info").html("Không tồn tại mã sinh viên");