- if @sv
  $("#info").html("");
  $("#ho_dem").val("#{@sv.ho_dem}");
  $("#ten").val("#{@sv.ten}");
- else
  $("#info").html("");
  $("#ho_dem").val("");
  $("#ten").val("");
  $("#info").html("Không tồn tại mã sinh viên");