
%ul= @stt.to_s
- @tuans.each do |tuan|
  %li= link_to tuan[:time][0].strftime("%Y-%m-%d-%H-%M"), lop_mon_hoc_buoihoc_path(tuan[:lop].id.to_s,  tuan[:time][0].strftime("%Y-%m-%d-%H-%M"))

%div= link_to "prev", showdashboard_path(@stt-1)
%div= link_to "next", showdashboard_path(@stt+1)
