%h1 Welcome Lops
what the fact
%table{:class => "table"}
  %thead
    %td Ma Lop
    %td Ma Mon     
    %td ID 
  %tbody
    - @current_lops.each do |lop|
      %tr
        %td= lop.ma_lop
        %td= lop.ma_mon_hoc
        %td= link_to lop.id, lop          



