s = $("table#lophc");
s.empty();
s.html("#{escape_javascript(render :partial => 'table1')}");
:plain
  $(document).ready(function () {
    $('#selectall').click(function () {
        $('.selectedId').prop('checked', isChecked('selectall'));
    });
  });
  function isChecked(checkboxId) {
      var id = '#' + checkboxId;
      return $(id).is(":checked");
  }
  function resetSelectAll() {
      // if all checkbox are selected, check the selectall checkbox
      // and viceversa
      if ($(".selectedId").length == $(".selectedId:checked").length) {
          $("#selectall").attr("checked", "checked");
      } else {
          $("#selectall").removeAttr("checked");
      }

      if ($(".selectedId:checked").length > 0) {
          $('#edit').attr("disabled", false);
      } else {
          $('#edit').attr("disabled", true);
      }
  }