s = $("#hnd");
s.empty();
s.html("#{escape_javascript(render :partial => 'lich2')}");
$('.datatable').dataTable({"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>","sPaginationType": "bootstrap","bStateSave":true,"bAutoWidth":true,"sScrollY": "300px"});		
alert("OK");