

.container-fluid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "/" } HPU
        .container.nav-collapse
          %ul.nav.pull-left#urls            
            %li.active= link_to "Quản lý", quanly_path
            %li= link_to "Lớp tách", quanlylopghep_path           
            
            
          %ul.nav.pull-right            
            %li= link_to 'Đăng xuất', destroy_user_session_path
              

.container-fluid{:style=>"margin-top: 4%;"}     
  Xin chào bạn
    