s = $("#dkbs");
s.empty();
s.html("#{escape_javascript(render :partial => 'dkbs')}");
s = $("#dkbs2");
s.empty();
s.html("#{escape_javascript(render :partial => 'dkbs2')}");
:plain
  $('.datatable').dataTable({"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>","sPaginationType": "bootstrap","bStateSave":true,"bAutoWidth":true,"sScrollY": "400px","iDisplayLength": 50});		