.well.sidebar-nav{:style => "font-size: 12px;"}
  = form_tag dkbs_lop_mon_hoc_path(@lop_mon_hoc.id), :method => :post, :remote => true do 
    = submit_tag "Cập nhật", :class => "btn btn-primary"  
    %br
    %span Số buổi đăng ký bổ sung: 
    = text_field_tag "sobuoibs", @lop_mon_hoc.so_buoi_bo_sung
  %br    

