- if @error == 1
  alert("Số tiết bổ sung không phù hợp");
- else
  $("#dkbs").html("");
  $("#qldkbs").html("");  
  s = $("#dkbs");  
  s.html("#{escape_javascript(render 'lop_mon_hoc_sinh_viens/statusdkbs')}");
  $("#formdkbs").html("");
  $("#so_tiet_phan_bo").prop('disabled', true);
  alert("Đăng ký thành công");  
