%p#notice= notice
%p Xin chao
%p
  %b Ma lop:
  = link_to @lop_mon_hoc.ma_lop, @lop_mon_hoc


  	        
  
%br/

- @lop_mon_hoc.sinh_viens.each do |sv|
  = sv.ma_sinh_vien
  
  %br/
%br/

\|
= link_to 'Back', root_path
