s = $("#dssv");    
s.empty();
s.html("#{escape_javascript(render :partial => 'dssv')}");
$('#monitor').dataTable({"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>","sPaginationType": "bootstrap","bStateSave":true,"bAutoWidth":true,"sScrollY": "400px","iDisplayLength": 50});		
alert("Cập nhật thành công");