s1 = $("#menu");
s1.html("");
s1.html("#{escape_javascript(render 'lop_mon_hoc_sinh_viens/menu')}")
s = $("table#dssv");
s.html("");
s.html("#{escape_javascript(render 'table1')}");
s2 = $("#formdkbs");
s2.html("");
s2.html("#{escape_javascript(render 'lop_mon_hoc_sinh_viens/formdkbs')}");

alert("Thông số lớp học đã được cập nhật thành công");