%h5 Dạy bù:
  .well.sidebar-nav{:style => "font-size: 12px;"}
    %span Đề xuất buổi học dạy bù
    #datetimepicker1.input-append.date
      %input{:"data-format" => "dd/MM/yyyy hh:mm:ss", :type=>"text"}
      %span.add-on
        %i{:"data-time-icon"=>"icon-time",:"data-date-icon"=>"icon-calendar"}