%h5 Dạy bù:
#datetimepicker1.input-append.date
  %input{:"data-format" => "yyyy-MM-dd-hh-mm", :type=>"text", :name => "buoihoc[thoigian]"}
  %span.add-on
    %i{:"data-time-icon"=>"icon-time",:"data-date-icon"=>"icon-calendar"}
.well.sidebar-nav{:style => "font-size: 12px;"}
  %input#giohoc{:type=>"hidden", :name => "lop_mon_hoc_id", :value => @lop_mon_hoc.id }
  %input#lophoc{:type=>"hidden", :name => "id", :value => @pid}
  %span= submit_tag "Đề xuất buổi dạy bù", :class => "btn btn-primary"