

sosv = $("span#sovang");
- if @svvang
  :plain  
    sosv.html("#{escape_javascript(@svvang.count.to_s)}")

    s = $("table#svvang");
    s.empty();
    s.html("#{escape_javascript(render :partial => 'table1')}")
    alert("Cập nhật thành công"); 
- else
  alert("#{@tkb.so_tiet}");    
  alert("#{@dd.so_tiet_vang}");