

sosv = $("span#sovang");
- if @vang
  :plain  
    sosv.html("#{escape_javascript(@vang.count.to_s)}")

	s = $("table#svvang");
	s.empty();
	s.html("#{escape_javascript(render :partial => 'table1')}")
	alert("OK"); 