- if @error
  :plain
    alert("Số tiết dạy không hợp lệ");
- else
  $("#buoihoc_sotiet").html("#{@lich.so_tiet_day_moi.to_s if @lich.so_tiet_day_moi}");
  $("#buoihoc_phong").val("#{@lich.phong_moi.to_s if @lich.phong_moi}");
  - if @svvang
    :plain
      sosv = $("span#sovang");
      sosv.html("#{escape_javascript(@svvang.count.to_s)}");
      s = $("table#svvang");    
      s.empty();
      s.html("#{escape_javascript(render :partial => 'table1')}");
      alert("Cập nhật thành công"); 