// Place all the styles related to the Buoihoc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select {
  width: 260px;
}